<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/style.css" rel="stylesheet">

    <title><%= site_title %></title>
    <meta property="og:title" content="<%= site_title %>" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="<%= description %>" />
    <meta property="og:description" content="<%= description %>" />
    <link rel="canonical" href="<%= url %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:site_name" content="<%= site_title %>" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138726319-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138726319-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7921673860422770",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="container text-center mt-2">

      <h1 class="display-4"><%= site_title %></h1>

      <%= yield %>

      <nav class="nav justify-content-center mt-2">
        <% nav_links.each do |label, url| %>
          <a href="<%= url %>" class="nav-link"><%= label %></a>
        <% end %>
      </nav>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>
