<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/style.css" rel="stylesheet">

    <title><%= site_title %></title>
    <meta property="og:title" content="<%= site_title %>" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="<%= description %>" />
    <meta property="og:description" content="<%= description %>" />
    <link rel="canonical" href="<%= url %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:site_name" content="<%= site_title %>" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NS637N6');</script>
    <!-- End Google Tag Manager -->

    <script data-ad-client="ca-pub-7921673860422770" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS637N6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="container text-center mt-2">

      <h1 class="display-4"><%= site_title %></h1>

      <%= yield %>

      <nav class="nav justify-content-center mt-2">
        <% nav_links.each do |label, url| %>
          <a href="<%= url %>" class="nav-link"><%= label %></a>
        <% end %>
      </nav>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>
