<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/main.css" rel="stylesheet">

    <title><%= site_title %></title>
    <meta property="og:title" content="<%= site_title %>" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="<%= description %>" />
    <meta property="og:description" content="<%= description %>" />
    <link rel="canonical" href="<%= url %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:site_name" content="<%= site_title %>" />
  </head>
  <body>
    <div class="container text-center mt-2">

      <h1 class="display-4"><a href="/" class="text-decoration-none text-body"><%= site_title %></a></h1>

      <%= yield %>

      <nav class="nav justify-content-center mt-2">
        <% nav_links.each do |label, url| %>
          <a href="<%= url %>" class="nav-link"><%= label %></a>
        <% end %>
      </nav>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
